body {
  background-image: linear-gradient(to bottom right, rgba(0,0,0, .7), rgba(0,0,0, .5)), url("images/rainbowjungle.jpg");
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-variant-ligatures: none;
}

a {
  color: white;
}

p {
  font-family: 'Libre Franklin', sans-serif;
}

.bg {
  height: 100%;
  display: block;
}

.text {
  font-size: 36px;
  font-weight: 700;
  padding-top: 50px;
}

.tile-container {
  display: flex;
  flex-direction: column;
}

.scroll {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 50px;
}

.tile-img {
 max-width: 80%;
 margin-top: 50px;
 margin-left: auto;
 margin-right: auto;
}

@media only screen and (min-width:700px){
   .tile-container {
      flex-direction: row;
      height: 100vh;
      justify-content: space-around;
      align-items: center;
      position: relative;
   }

   .text {
    max-width: 40%;
    padding: 0;
    font-size: 60px;
   }

   .tile-img {
    height: auto;
    max-width: 40%;
    margin: 0;
   }

   .scroll {
    position: absolute;
    bottom: 20px;
    max-width: 500px;
    margin-top: 0;
   }
}


.copyright {
  font-weight: 700;
  padding-bottom: 20px;
  font-size: 12px;
  color: #FEF200;
}



